@page
@model LojourProperties.Web.Areas.Main.Pages.PropertySection.Section.AgentProfileModel
@{
}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">WEB SLIDERS</h3>


        <a asp-page="./Create" class="btn bg-gradient-warning btn-sm" style="float:right;">Add New Slider</a>

    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">

                <tr>
                    <th colspan="3">AGENT PROFILE</th>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>@Model.Profile.Title</td>
                    <td rowspan="4">
                        @if (String.IsNullOrEmpty(Model.Profile.PhotoUrl))
                        {
                            <img src="~/assets/dist/img/avatar2.png" />
                        }
                        else
                        {
                            <img src="@Model.Profile.PhotoUrl" style="max-height:120px;" class="img-fluid" />
                        }
                        <br />
                        <h5>Region: @Model.Profile.OperatingRegion.RegionOfOperation</h5>
                        <h3>@Model.Profile.ProfileType</h3>
                    </td>
                </tr>
                <tr>
                    <th>Surname</th>
                    <td>@Model.Profile.SurName</td>
                </tr>

                <tr>
                    <th>First Name</th>
                    <td>@Model.Profile.FirstName</td>
                </tr>
                <tr>
                    <th>Last Name</th>
                    <td>@Model.Profile.LastName</td>
                </tr>
                <tr>
                    <th>Gender</th>
                    <td>@Model.Profile.Gender</td>
                </tr>

                <tr>
                    <th>Marital Status</th>
                    <td>@Model.Profile.MaritalStatus</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>@Model.Profile.Email</td>
                </tr>
                <tr>
                    <th>Verified Email</th>
                    <td>
                        @if (Model.Profile.EmailConfirmed == true)
                        {
                            <span>True</span>
                        }
                        else
                        {
                            <span>False</span>

                        }
                    </td>
                </tr>

                <tr>
                    <th>Phone Number</th>
                    <td>@Model.Profile.PhoneNumber</td>
                </tr>
                <tr>
                    <th>Alternative Phone Number</th>
                    <td>@Model.Profile.AltPhone</td>
                </tr>

                <tr>
                    <th>Street No.</th>
                    <td>@Model.Profile.StreetNumber</td>
                </tr>
                <tr>
                    <th>Street Name</th>
                    <td>@Model.Profile.StreetName</td>
                </tr>

                <tr>
                    <th>City</th>
                    <td>@Model.Profile.City</td>
                </tr>
                <tr>
                    <th>State</th>
                    <td>@Model.Profile.State</td>
                </tr>

                <tr>
                    <th>Zip Code</th>
                    <td>@Model.Profile.ZipCode</td>
                </tr>
                <tr>
                    <th>Country</th>
                    <td>@Model.Profile.Country</td>
                </tr>

                <tr>
                    <th>Description</th>
                    <td>@Html.Raw(Model.Profile)</td>
                </tr>
                <tr>
                    <th>Date of Birth</th>
                    <td>@Model.Profile.DateOfBirth</td>
                </tr>

                <tr>
                    <th>Date Registered</th>
                    <td>@Model.Profile.DateRegistered</td>
                </tr>


            </table>
        </div>
    </div>
</div>
