@page
@model LojourProperties.Web.Areas.Main.Pages.PropertySection.Section.IndexModel

@{
    ViewData["Title"] = "Index";
}


<div class="card">
    <div class="card-header">
        <h3 class="card-title">PROPERTIES</h3>


        <a asp-page="./Create" class="btn bg-gradient-warning btn-sm" style="float:right;">Add New</a>

    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="table-responsive">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>S/N</th>
            <th>
                @Html.DisplayNameFor(model => model.Property[0].Title)
            </th>
            <th> 
                Ref ID
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Property[0].DateAdded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property[0].LastUpdated)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Property[0].PropertyCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property[0].PrivacyCategory)
            </th>
            <th>
                            @Html.DisplayNameFor(model => model.Property[0].PropertyStatus)
            </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Property[0].ActivityStatus)
                        </th>
                      
                        <th>
                            @Html.DisplayNameFor(model => model.Property[0].SortOrder)
                        </th>

            <th></th>
        </tr>
                </thead>
                
                @{
                    int sn = 0;
                }
    <tbody>
@foreach (var item in Model.Property) {
                        <tr>

                            <td>
                                @{
                                    sn++;
                                }
                                @sn
                            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyRefID)
            </td>
             
            <td>
                @Html.DisplayFor(modelItem => item.DateAdded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdated)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.PropertyCategory.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrivacyCategory.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityStatus)
            </td>
                           
                            <td>
                                @Html.DisplayFor(modelItem => item.SortOrder)
                            </td>

                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-success">Action</button>

                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
                                        </button>
                                        <div class="dropdown-menu" style="">

                                            <a class="dropdown-item" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                                            <a class="dropdown-item" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                                            <a class="dropdown-item" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>

                                        </div>
                                    </div>
                                </div>

                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
