@page
@model LojourProperties.Web.Areas.Main.Pages.Web.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">DETAILS </h3>
        <br />
        <br />
        <h6>Key: @Model.WebPage.Key</h6>

    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebPage.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebPage.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebPage.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebPage.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebPage.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebPage.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebPage.SortOrder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebPage.SortOrder)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebPage.PagePosition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebPage.PagePosition)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebPage.Publish)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebPage.Publish)
        </dd>
                    <dt class="col-sm-2">
                        
            @Html.DisplayNameFor(model => model.WebPage.TextOne)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebPage.TextOne)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebPage.TextTwo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebPage.TextTwo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebPage.TextThree)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebPage.TextThree)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebPage.TextFour)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebPage.TextFour)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebPage.TextFive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebPage.TextFive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebPage.TextSix)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebPage.TextSix)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebPage.TextSeven)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebPage.TextSeven)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebPage.TextEight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebPage.TextEight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebPage.TextNine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebPage.TextNine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebPage.TextTen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebPage.TextTen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebPage.TextEleven)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebPage.TextEleven)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebPage.TextTwelve)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebPage.TextTwelve)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebPage.TextThirteen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebPage.TextThirteen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebPage.TextFourteen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebPage.TextFourteen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebPage.TextFiften)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebPage.TextFiften)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebPage.TextSixteen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebPage.TextSixteen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebPage.TextSeventeen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebPage.TextSeventeen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebPage.TextEighteen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebPage.TextEighteen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebPage.TextNineteen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebPage.TextNineteen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebPage.TextTwenty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebPage.TextTwenty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebPage.ImageOne)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebPage.ImageOne)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebPage.ImageTwo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebPage.ImageTwo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebPage.ImageThree)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebPage.ImageThree)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebPage.ImageFour)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebPage.ImageFour)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebPage.ImageFive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebPage.ImageFive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebPage.ImageSix)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebPage.ImageSix)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebPage.ImageSeven)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebPage.ImageSeven)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebPage.ImageEight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebPage.ImageEight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebPage.ImageNine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebPage.ImageNine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebPage.ImageTen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebPage.ImageTen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebPage.ImageEleven)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebPage.ImageEleven)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebPage.ImageTwelve)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebPage.ImageTwelve)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebPage.ImageThirteen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebPage.ImageThirteen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebPage.ImageFourteen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebPage.ImageFourteen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebPage.ImageFiften)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebPage.ImageFiften)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebPage.ImageSixteen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebPage.ImageSixteen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebPage.ImageSeventeen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebPage.ImageSeventeen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebPage.ImageEighteen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebPage.ImageEighteen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebPage.ImageNineteen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebPage.ImageNineteen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebPage.ImageTwenty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebPage.ImageTwenty)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.WebPage.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
 
            </div>
        </div>


        <!-- /.row -->
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
    </div>
 