@model ICollection<LojourProperties.Domain.Dtos.HomePropertyDto>

<div class="row">

    @foreach (var item in Model)
    {

        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
            <div class="ads-list-archive">
                <!-- Image Block -->
                <div class="no-padding">
                    <!-- Img Block -->
                    <div class="ad-archive-img">
                        <div class="featured-ribbon">
                            <span>
                                @if (item.Activity == Domain.Models.Enum.ActivityStatus.Leased)
                                {
                                    <text>Leased Out</text>
                                }
                                else if (item.Activity == Domain.Models.Enum.ActivityStatus.Sold)
                                {
                                    <text>Sold Out</text>
                                }
                                else if (item.Activity == Domain.Models.Enum.ActivityStatus.Rented)
                                {
                                    <text>Rented Out</text>
                                }
                                else if (item.Activity == Domain.Models.Enum.ActivityStatus.Available)
                                {
                                    <text>Available</text>
                                }

                            </span>
                        </div>
                        <a asp-page="./Ppty" asp-route-id="@item.Id" asp-route-ppy="@item.Title.Replace(",", "-").Replace(" ", "-").Replace("/", "-").Replace("@", "-").Replace("&", "-").Replace("#", "-").Replace("_", "-")">
                            <img class="img-responsive" src="@item.Image" alt="@item.Title">
                        </a>
                    </div>
                    <!-- Img Block -->
                </div>
                <!-- Ads Listing -->
                <div class="clearfix visible-xs-block"></div>
                <!-- Content Block -->
                <div class="no-padding">
                    <!-- Ad Desc -->
                    <div class="ad-archive-desc">
                        <!-- Title -->
                        <a asp-page="./Ppty" asp-route-id="@item.Id" asp-route-ppy="@item.Title.Replace(",", "-").Replace(" ", "-").Replace("/", "-").Replace("@", "-").Replace("&", "-").Replace("#", "-").Replace("_", "-").Replace("--", "-").Replace("--", "-")">
                            <h3 style="font-family: 'Berlin Sans FB Demi Bold' !important;">
                                @item.Title


                                <a class="btn btn-success" style="float: right;color: #fff;background-color: #396739;border-color: grey;width: 25%;padding: 5px;">
                                    @if (item.Category.ToLower().Contains("sale"))
                                    {
                                        <span>For Sale</span>
                                    }
                                    else if (item.Category.ToLower().Contains("lease"))
                                    {
                                        <span>Leasing</span>
                                    }
                                    else if (item.Category.ToLower().Contains("rent"))
                                    {
                                        <span>For Rent</span>
                                    }

                                </a>

                            </h3>
                        </a>

                        <!-- Short Description -->
                        <div class="clearfix visible-xs-block"></div>
                        <p class="hidden-sm">@item.Description</p>
                        <!-- Ad Features -->
                        <ul class="short-meta list-inline">
                            @foreach (var x in item.PropertyFeatures)
                            {
                                <li><a href="#"><i class="fas @x.FeaturesCategory.Icon"></i> @x.Description @x.FeaturesCategory.Description </a></li>
                            }

                        </ul>
                        <!-- Ad History -->
                        <div class="clearfix archive-history">
                            <div class="ad-meta">
                                <a class="btn btn-success" asp-page="./Ppty" asp-route-id="@item.Id" asp-route-ppy="@item.Title.Replace(",", "-").Replace(" ", "-").Replace("/", "-").Replace("@", "-").Replace("&", "-").Replace("#", "-").Replace("_", "-").Replace("--", "-").Replace("--", "-")" style="width: 70%;"><i class="fa fa-phone"></i> Details</a>

                                <a class="btn btn-success" href="#" style="float: right;color: #fff;background-color: grey;border-color: grey;">ID: @item.LojourID</a>
                            </div>
                        </div>
                    </div>
                    <!-- Ad Desc End -->
                </div>
                <!-- Content Block End -->
            </div>
        </div>
    }


</div>
@*@if (Model.Count() > 15)
    {*@
<div>
    <a asp-page="/Property" class="btn-theme btn-lg btn">More Properties <i class="fa fa-angle-right"></i></a>
</div>
@*}*@

