@model ICollection<LojourProperties.Domain.Models.Slider>

@foreach (var img in Model.Take(1))
{
    <!-- slide 1 -->
    <div class="ms-slide slide-1" data-delay="5">
        <!-- slide background -->
        <img src="~/smart/js/masterslider/style/blank.gif" data-src="@img.MainImageUrl" alt="Slide1 background" />
        <!-- slide thumbnail Image -->

        <img src="~/smart/js/masterslider/style/blank.gif" data-src="@img.Url" alt="Master Slider"
             style="left:750px; top:180px;"
             class="ms-layer"
             data-type="image"
             data-delay="1000"
             data-duration="3000"
             data-ease="easeOutExpo"
             data-effect="scalefrom(1.1,1.1,190,0)" />
        

        <h3 class="ms-layer title4 font-white font-uppercase font-thin-xs"
            style="left:120px; top:150px;"
            data-type="text"
            data-delay="2000"
            data-duration="2000"
            data-ease="easeOutExpo"
            data-effect="skewleft(30,80)">
            @Html.Raw(img.MainText)
        </h3>
        <h3 class="ms-layer title4 font-white font-thin-xs"
            style="left:120px; top:210px;"
            data-type="text"
            data-delay="2500"
            data-duration="2000"
            data-ease="easeOutExpo"
            data-effect="skewleft(30,80)">
            <span class="font-color font-thin-xs heading-color">@Html.Raw(img.PlainText)</span>
        </h3>
        <h5 class="ms-layer text1 font-white"
            style="left: 120px; top: 280px;"
            data-type="text"
            data-effect="bottom(45)"
            data-duration="2500"
            data-delay="3000"
            data-ease="easeOutExpo">
           @Html.Raw(img.SubText)
        </h5>
        <a class="ms-layer btn3 uppercase"
           style="left:120px; top: 390px;"
           data-type="text"
           data-delay="3500"
           data-ease="easeOutExpo"
           data-duration="2000"
           data-effect="scale(1.5,1.6)" href="@img.ButtonLink">@img.ButtonText</a>
    </div>
    <!-- end of slide -->
}

@foreach (var img in Model.Skip(1).Take(1))
{
    <!-- slide 2 -->
    <div class="ms-slide slide-3" data-delay="5">
        <!-- slide background -->
        <img src="~/smart/js/masterslider/style/blank.gif" data-src="@img.MainImageUrl" alt="Slide1 background" />
        <h3 class="ms-layer title4 font-white font-uppercase font-thin-xs"
            style="left:120px; top:150px;"
            data-type="text"
            data-delay="2000"
            data-duration="2000"
            data-ease="easeOutExpo"
            data-effect="skewleft(30,80)">
            @img.MainText
        </h3>
        <h3 class="ms-layer title4 font-white font-thin-xs"
            style="left:120px; top:210px;"
            data-type="text"
            data-delay="2500"
            data-duration="2000"
            data-ease="easeOutExpo"
            data-effect="skewleft(30,80)">
            <span class="font-color font-thin-xs heading-color">@Html.Raw(img.SubText)</span>
        </h3>
        <h5 class="ms-layer text1 font-white"
            style="left: 120px; top: 280px;"
            data-type="text"
            data-effect="bottom(45)"
            data-duration="2500"
            data-delay="3000"
            data-ease="easeOutExpo">
            @Html.Raw(img.PlainText)
        </h5>
        <a class="ms-layer btn3 uppercase"
           style="left:120px; top: 390px;"
           data-type="text"
           data-delay="3500"
           data-ease="easeOutExpo"
           data-duration="2000"
           data-effect="scale(1.5,1.6)" href="@img.ButtonLink"> @img.ButtonText</a>
    </div>
    <!-- end of slide -->
}


@foreach (var img in Model.Skip(2).Take(1))
{
    <div class="ms-slide slide-2" data-delay="4">
        <div class="ms-overlay-layers"></div>
        <!-- slide background -->
        <img src="~/smart/js/masterslider/style/blank.gif" data-src="@img.MainImageUrl" alt="Slide1 background" />
        <h3 class="ms-layer title4 font-white font-uppercase font-thin-xs"
            style="left:120px; top:150px;"
            data-type="text"
            data-delay="2000"
            data-duration="2000"
            data-ease="easeOutExpo"
            data-effect="skewleft(30,80)">
            @Html.Raw(img.MainText)
        </h3>
        <h3 class="ms-layer title4 font-white font-thin-xs"
            style="left:120px; top:210px;"
            data-type="text"
            data-delay="2500"
            data-duration="2000"
            data-ease="easeOutExpo"
            data-effect="skewleft(30,80)">
            <span class="font-color font-thin-xs heading-color">@Html.Raw(img.PlainText)</span>
        </h3>
        <h5 class="ms-layer text1 font-white"
            style="left: 120px; top: 280px;"
            data-type="text"
            data-effect="bottom(45)"
            data-duration="2500"
            data-delay="3000"
            data-ease="easeOutExpo">
           @Html.Raw(img.SubText)
           </h5>
        <a class="ms-layer btn3 uppercase"
           style="left:120px; top: 390px;"
           data-type="text"
           data-delay="3500"
           data-ease="easeOutExpo"
           data-duration="2000"
           data-effect="scale(1.5,1.6)" href="@img.ButtonLink"> @img.ButtonText</a>
    </div>
}







@*<!-- slide 1 -->
<div class="ms-slide slide-1" data-delay="5">
    <!-- slide background -->
    <img src="~/smart/js/masterslider/style/blank.gif" data-src="https://lojourxyz.s3.amazonaws.com/af1a5b4d-3fac-4ac0-a39e-4a85dbb49a15.jpg?AWSAccessKeyId=AKIA4Y267QYK25XMO6WE&Expires=1772356481&Signature=NMvk5tLtaIfCmTFHygDuxsoLzQk%3D" alt="Slide1 background" />
    <!-- slide thumbnail Image -->
    <img src="~/smart/js/masterslider/style/blank.gif" data-src="https://lojourxyz.s3.amazonaws.com/941ff2c0-e91a-48b3-9b7d-67559bf057d4.png?AWSAccessKeyId=AKIA4Y267QYK25XMO6WE&Expires=1772356482&Signature=O%2FWLXXUHKFWnY9tDooOvHAag9%2Fo%3D" alt="Master Slider"
         style="left:750px; top:180px;"
         class="ms-layer"
         data-type="image"
         data-delay="1000"
         data-duration="3000"
         data-ease="easeOutExpo"
         data-effect="scalefrom(1.1,1.1,190,0)" />
    <h3 class="ms-layer title4 font-white font-uppercase font-thin-xs"
        style="left:120px; top:150px;"
        data-type="text"
        data-delay="2000"
        data-duration="2000"
        data-ease="easeOutExpo"
        data-effect="skewleft(30,80)">
        Find Your Dream Car
    </h3>
    <h3 class="ms-layer title4 font-white font-thin-xs"
        style="left:120px; top:210px;"
        data-type="text"
        data-delay="2500"
        data-duration="2000"
        data-ease="easeOutExpo"
        data-effect="skewleft(30,80)">
        <span class="font-color font-thin-xs heading-color">Thousand Of Cars Of Your Choice</span>
    </h3>
    <h5 class="ms-layer text1 font-white"
        style="left: 120px; top: 280px;"
        data-type="text"
        data-effect="bottom(45)"
        data-duration="2500"
        data-delay="3000"
        data-ease="easeOutExpo">
        Lorem Ipsum is simply dummy text of the printing typesetting<br>
        industry is proident sunt in culpa officia deserunt mollit.
    </h5>
    <a class="ms-layer btn3 uppercase"
       style="left:120px; top: 390px;"
       data-type="text"
       data-delay="3500"
       data-ease="easeOutExpo"
       data-duration="2000"
       data-effect="scale(1.5,1.6)">Search Cars</a>
</div>
<!-- end of slide -->
<!-- slide 2 -->
<div class="ms-slide slide-3" data-delay="5">
    <!-- slide background -->
    <img src="~/smart/js/masterslider/style/blank.gif" data-src="https://lojourxyz.s3.amazonaws.com/af1a5b4d-3fac-4ac0-a39e-4a85dbb49a15.jpg?AWSAccessKeyId=AKIA4Y267QYK25XMO6WE&Expires=1772356481&Signature=NMvk5tLtaIfCmTFHygDuxsoLzQk%3D" alt="Slide1 background" />
    <h3 class="ms-layer title4 font-white font-uppercase font-thin-xs"
        style="left:120px; top:150px;"
        data-type="text"
        data-delay="2000"
        data-duration="2000"
        data-ease="easeOutExpo"
        data-effect="skewleft(30,80)">
        Welcome to Carspot
    </h3>
    <h3 class="ms-layer title4 font-white font-thin-xs"
        style="left:120px; top:210px;"
        data-type="text"
        data-delay="2500"
        data-duration="2000"
        data-ease="easeOutExpo"
        data-effect="skewleft(30,80)">
        <span class="font-color font-thin-xs heading-color">Find Your Dream Car</span>
    </h3>
    <h5 class="ms-layer text1 font-white"
        style="left: 120px; top: 280px;"
        data-type="text"
        data-effect="bottom(45)"
        data-duration="2500"
        data-delay="3000"
        data-ease="easeOutExpo">
        Lorem Ipsum is simply dummy text of the printing typesetting<br>
        industry is proident sunt in culpa officia deserunt mollit.
    </h5>
    <a class="ms-layer btn3 uppercase"
       style="left:120px; top: 390px;"
       data-type="text"
       data-delay="3500"
       data-ease="easeOutExpo"
       data-duration="2000"
       data-effect="scale(1.5,1.6)"> View All Cars</a>
</div>
<!-- end of slide -->
<div class="ms-slide slide-2" data-delay="4">
    <div class="ms-overlay-layers"></div>
    <!-- slide background -->
    <img src="~/smart/js/masterslider/style/blank.gif" data-src="https://lojourxyz.s3.amazonaws.com/af1a5b4d-3fac-4ac0-a39e-4a85dbb49a15.jpg?AWSAccessKeyId=AKIA4Y267QYK25XMO6WE&Expires=1772356481&Signature=NMvk5tLtaIfCmTFHygDuxsoLzQk%3D" alt="Slide1 background" />
    <h3 class="ms-layer title4 font-white font-uppercase font-thin-xs"
        style="left:120px; top:150px;"
        data-type="text"
        data-delay="2000"
        data-duration="2000"
        data-ease="easeOutExpo"
        data-effect="skewleft(30,80)">
        Welcome to Carspot
    </h3>
    <h3 class="ms-layer title4 font-white font-thin-xs"
        style="left:120px; top:210px;"
        data-type="text"
        data-delay="2500"
        data-duration="2000"
        data-ease="easeOutExpo"
        data-effect="skewleft(30,80)">
        <span class="font-color font-thin-xs heading-color">Find Your Dream Car</span>
    </h3>
    <h5 class="ms-layer text1 font-white"
        style="left: 120px; top: 280px;"
        data-type="text"
        data-effect="bottom(45)"
        data-duration="2500"
        data-delay="3000"
        data-ease="easeOutExpo">
        Lorem Ipsum is simply dummy text of the printing typesetting<br>
        industry is proident sunt in culpa officia deserunt mollit.
    </h5>
    <a class="ms-layer btn3 uppercase"
       style="left:120px; top: 390px;"
       data-type="text"
       data-delay="3500"
       data-ease="easeOutExpo"
       data-duration="2000"
       data-effect="scale(1.5,1.6)"> View All Cars</a>
</div>
<!-- slide 2 -->
*@