<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="description" content="">
    <meta name="author" content="ScriptsBundle">

    <meta name="description" content="@ViewBag.MetaTitle">
    <meta name="description" content="@ViewBag.MetaKeyword">
    <meta name="description" content="@ViewBag.MetaDescription">

    <title>LOJOUR PROPERTIES | SMARTHOMES | APARTMENTS | HOTELS | LANDS</title>
    <link rel="icon" href="~/img/icon.png" type="image/x-icon" />

    <meta property="og:url" content="@ViewBag.url" />
    <meta property="og:title" content="@ViewBag.title">
    <meta property="og:description" content="@ViewBag.description">
    <meta property="og:image" content="@ViewBag.image">

    <!-- =-=-=-=-=-=-= Favicons Icon =-=-=-=-=-=-= -->
    <!-- =-=-=-=-=-=-= Mobile Specific =-=-=-=-=-=-= -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- =-=-=-=-=-=-= Bootstrap CSS Style =-=-=-=-=-=-= -->
    <link rel="stylesheet" href="~/smart/css/bootstrap.css">
    <!-- =-=-=-=-=-=-= Template CSS Style =-=-=-=-=-=-= -->
    <link rel="stylesheet" href="~/smart/css/style.css">
    <!-- =-=-=-=-=-=-= Font Awesome =-=-=-=-=-=-= -->
    <link rel="stylesheet" href="~/smart/css/font-awesome.css" type="text/css">
    <!-- =-=-=-=-=-=-= Flat Icon =-=-=-=-=-=-= -->
    <link href="~/smart/css/flaticon.css" rel="stylesheet">
    <!-- =-=-=-=-=-=-= Et Line Fonts =-=-=-=-=-=-= -->
    <link rel="stylesheet" href="~/smart/css/et-line-fonts.css" type="text/css">
    <!-- =-=-=-=-=-=-= Menu Drop Down =-=-=-=-=-=-= -->
    <link rel="stylesheet" href="~/smart/css/carspot-menu.css" type="text/css">
    <!-- =-=-=-=-=-=-= Animation =-=-=-=-=-=-= -->
    <link rel="stylesheet" href="~/smart/css/animate.min.css" type="text/css">
    <!-- =-=-=-=-=-=-= Select Options =-=-=-=-=-=-= -->
    <link href="~/smart/css/select2.min.css" rel="stylesheet" />
    <!-- =-=-=-=-=-=-= noUiSlider =-=-=-=-=-=-= -->
    <link href="~/smart/css/nouislider.min.css" rel="stylesheet">
    <!-- =-=-=-=-=-=-= Listing Slider =-=-=-=-=-=-= -->
    <link href="~/smart/css/slider.css" rel="stylesheet">
    <!-- =-=-=-=-=-=-= Owl carousel =-=-=-=-=-=-= -->
    <link rel="stylesheet" type="text/css" href="~/smart/css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/smart/css/owl.theme.css">
    <!-- =-=-=-=-=-=-= Check boxes =-=-=-=-=-=-= -->
    <link href="~/smart/skins/minimal/minimal.css" rel="stylesheet">
    <!-- =-=-=-=-=-=-= PrettyPhoto =-=-=-=-=-=-= -->
    <link rel="stylesheet" href="~/smart/css/jquery.fancybox.min.css" type="text/css" media="screen" />
    <!-- =-=-=-=-=-=-= Responsive Media =-=-=-=-=-=-= -->
    <link href="~/smart/css/responsive-media.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet" />

    <!-- =-=-=-=-=-=-= Template Color =-=-=-=-=-=-= -->
    <link rel="stylesheet" id="color" href="~/smart/css/colors/defualt.css">
    <!-- For This Page Only -->
    <!-- Base MasterSlider style sheet -->
    <link rel="stylesheet" href="~/smart/js/masterslider/style/masterslider.css" />
    <link rel="stylesheet" href="~/smart/js/masterslider/skins/default/style.css" />
    <link rel="stylesheet" href="~/smart/js/masterslider/style/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600%7CSource+Sans+Pro:400,400i,600" rel="stylesheet">
    <!-- JavaScripts -->
    <script src="~/smart/js/modernizr.js"></script>

    <style>
        .page-header-area-2 {
            padding: 30px 0;
            text-align: left;
            position: relative;
            background-image: url('../../img/hd.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .small-breadcrumb .breadcrumb-link ul li::after {
            color: #fff;
            content: "\f105";
            font-family: "FontAwesome";
            font-size: 13px;
            font-style: normal;
            font-weight: 500;
            position: absolute;
            right: 0;
            text-decoration: inherit;
            top: 10px;
            margin-right: 5px;
        }
        .user-preview {
            background-color: white;
            padding: 4px;
            font-weight: 700;
            text-transform: uppercase;
        }
        .activity-case {
            font-weight: 900;
            font-size: 16px;
            background-color: #e52d27;
            padding: 4px;
            color: white !important;
        }
        .category-title .activity-case a {
            color: #ffffff;
            font-size: 14px;
        }
        .category-title .activity-case a :hover{
            color: #ffffff;
            font-size: 14px;
        }
        .activity-case:hover {
            font-weight: 900;
            font-size: 16px;
            background-color: #e52d27;
            padding: 4px;
            color: white !important;
        }
        .choose-2-line {
            display: -webkit-box !important;
            -webkit-line-clamp: 2 !important;
            -webkit-box-orient: vertical !important;
            overflow: hidden !important;
        }

            .choose-2-line a {
                display: -webkit-box !important;
                -webkit-line-clamp: 2 !important;
                -webkit-box-orient: vertical !important;
                overflow: hidden !important;
                text-overflow: ellipsis !important;
                /*text-align: justify !important;*/
            }
            .choose-2-line a {
                height:58px;
            }
        .choose-2-line a {
            line-height: 1.0em;
            margin-bottom: 0;
        }
            .choose-2-line { 
                margin-bottom: 0;
            }
        .category-grid-box .short-description {
            padding: 10px 20px;
            
        }
        .choose-2-line {
            margin-top: 10px;
        }
        .wp-block.property.list .wp-block-footer ul.aux-info li i {
            font-size: 15px;
            margin-right: 8px;
            color: #2f3d46;
        }

        .fal, .far {
            font-family: "font awesome 5 pro";
        }

        .fal {
            font-weight: 300;
        }

        .fa, .fab, .fad, .fal, .far, .fas {
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1;
        }
        .ad-archive-desc ul.short-meta li:first-child {
            padding-left: 10px;
        }
        .ad-archive-desc ul.short-meta li {
            border-right: 1px solid #574e4e;
            line-height: 15px;
            padding: 0 10px;
        }
        .grid-panel .location-icon i, .widget-newsletter .fieldset form .submit-btn, .ad-listing .content-area .additional-info li a:hover, .noUi-connect, .card .nav-tabs > li > a::after, .featured-ribbon span, .progress-bar > span {
            background: #29990e none repeat scroll 0 0;
        }
        .custom-padding {
            padding: 10px 0 30px 0;
        }
        .heading-panel h1::after {
            background-color: #24242400;
            bottom: 0;
            content: "";
            height: 1px;
            left: 0;
            margin: 0 auto;
            position: absolute;
            right: 0;
            width: 59px;
        }
        .heading-panel h1::before {
            background-color: #24242400;
            bottom: 6px;
            content: "";
            height: 1px;
            left: 0;
            margin: 0 auto;
            position: absolute;
            right: 0;
            width: 99px;
        }
        .page-header-area-2 h1 {
            color: #ffffff;
            font-size: 26px;
            font-weight: 900;
            text-transform: capitalize;
        }
        .ad-archive-desc .ad-price-simple {
            font-size: 19px;
            font-weight: 900;
            margin-top: 3px;
            overflow: hidden;
        }
        .category-title .activity-case a {
            color: #ffffff;
            font-size: 10px;
            line-height: 0;
        }
        .activity-case {
            font-weight: 900;
            font-size: 8px;
            background-color: #e52d27;
            padding: 4px;
            color: white !important;
        }
        .ad-archive-desc .category-title {
            margin-bottom: 2px;
            line-height: .8;
        }
        .ad-archive-desc ul.short-meta {
            margin-top: 0;
        }
        .ad-archive-desc ul.short-meta {
            margin-top: 0;
            font-size: 14px;
            color: black;
        }
            .ad-archive-desc ul.short-meta li a {
                color: #000;
            }
        .ads-list-archive .archive-history {
            margin-top: 5px;
        }
        .ad-archive-desc h3 {
            
            height: 50px;
        }
        .boxed-div {
            position: relative !important;
            border: 1px solid #eee !important;
            background: #fff !important;
            box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.16) !important;
            border-radius: 5px !important;
            overflow: hidden !important;
            padding: 10px 15px !important;
            margin-bottom: 10px !important;
            color:black;
        }
    </style>
</head>
<body>
    <!-- =-=-=-=-=-=-= Preloader =-=-=-=-=-=-= -->
    <div class="preloader"></div>

    <!-- =-=-=-=-=-=-=  Header =-=-=-=-=-=-= -->
    <div class="colored-header">
        <!-- Top Bar -->
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <!-- Header Top Left -->
                    <div class="header-top-left col-md-8 col-sm-6 col-xs-12 hidden-xs">
                        <ul class="listnone">
                            <li><a asp-page="/Page/WebPage" asp-route-id="786f812a-8436-4587-8f1d-c9dc68a48898"><i class="fa fa-heart-o" aria-hidden="true"></i> About</a></li>
                            <li><a asp-page="/Page/WebFaq"><i class="fa fa-folder-open-o" aria-hidden="true"></i> FAQS</a></li>
                           
                        </ul>
                    </div>

                    <!-- Header Top Right Social -->
                    @await Component.InvokeAsync("HomeProfile")

                </div>
            </div>
        </div>
        <!-- Top Bar End -->
        <!-- Navigation Menu -->
        <div class="clearfix"></div>
        <!-- menu start -->
        <nav id="menu-1" class="mega-menu">
            <!-- menu list items container -->
            <section class="menu-list-items">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <!-- menu logo -->
                            <ul class="menu-logo">
                                <li>
                                    <a href="/"><img src="~/img/lojour-logo-web-2.png" alt="logo" style="margin-top:8px;"> </a>
                                </li>
                            </ul>
                            <!-- menu links -->
                            <ul class="menu-links">
                                <!-- active class -->
                                <li>
                                    <a asp-page="/Property" asp-route-category="Rent">Rent</a>
                                </li>
                                 <li>
                                    <a asp-page="/Property" asp-route-category="Lease">Lease</a>
                                </li>
                                 <li>
                                    <a asp-page="/Property" asp-route-category="Sale">Sale</a>
                                </li>
                                 
                                <li>
                                    <a asp-page="/Property" asp-route-category="SmartHomes">SmartHomes</a>
                                </li>

                            </ul>
                            <ul class="menu-search-bar">
                                <li>
                                    <a asp-page="/Request" class="btn btn-theme">Request a Tour</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </nav>
        <!-- menu end -->
    </div>
    <form asp-area="Identity" id="logoutForm" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Account/Login", new { area = "Identity" })" method="post">
    </form>
    <div class="clearfix"></div>


    @RenderBody()
    <!-- Back To Top -->
    <a href="#0" class="cd-top">Top</a>
    <!-- =-=-=-=-=-=-= JQUERY =-=-=-=-=-=-= -->
    <script src="~/smart/js"></script>
    <script src="~/smart/js/jquery.min.js"></script>
    <!-- Bootstrap Core Css  -->
    <script src="~/smart/js/bootstrap.min.js"></script>
    <!-- Jquery Easing -->
    <script src="~/smart/js/easing.js"></script>
    <!-- Menu Hover  -->
    <script src="~/smart/js/carspot-menu.js"></script>
    <!-- Jquery Appear Plugin -->
    <script src="~/smart/js/jquery.appear.min.js"></script>
    <!-- Numbers Animation   -->
    <script src="~/smart/js/jquery.countTo.js"></script>
    <!-- Jquery Select Options  -->
    <script src="~/smart/js/select2.min.js"></script>
    <!-- noUiSlider -->
    <script src="~/smart/js/nouislider.all.min.js"></script>
    <!-- Carousel Slider  -->
    <script src="~/smart/js/carousel.min.js"></script>
    <script src="~/smart/js/slide.js"></script>
    <!-- Image Loaded  -->
    <script src="~/smart/js/imagesloaded.js"></script>
    <script src="~/smart/js/isotope.min.js"></script>
    <!-- CheckBoxes  -->
    <script src="~/smart/js/icheck.min.js"></script>
    <!-- Jquery Migration  -->
    <script src="~/smart/js/jquery-migrate.min.js"></script>

    <!-- Style Switcher -->
    <script src="~/smart/js/color-switcher.js"></script>
    <!-- PrettyPhoto -->
    <script src="~/smart/js/jquery.fancybox.min.js"></script>
    <!-- Wow Animation -->
    <script src="~/smart/js/wow.js"></script>
    <!-- Template Core JS -->
    <script src="~/smart/js/custom.js"></script>
    <!-- For This Page Only -->
    <!-- MasterSlider -->
    <script src="~/smart/js/masterslider/masterslider.min.js"></script>
    <script type="text/javascript">

        (function ($) {
            "use strict";


            var slider = new MasterSlider();

            // adds Arrows navigation control to the slider.
            slider.control('arrows');

            slider.setup('masterslider', {
                width: 1400,    // slider standard width
                height: 560,   // slider standard height
                layout: 'fullwidth',
                loop: true,
                preload: 0,
                fillMode: 'fill',
                instantStartLayers: true,
                autoplay: true,
                view: "basic"

            });
            // add scroll parallax effect

        })(jQuery);







    </script>



    @RenderSection("Scripts", required: false)


</body>
</html>

