@page
@model LojourProperties.Web.Areas.Main.Pages.RegionPage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Slider</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Slider.Url)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Slider.Url)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Slider.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Slider.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Slider.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Slider.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Slider.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Slider.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Slider.Show)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Slider.Show)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Slider.MainText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Slider.MainText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Slider.SubText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Slider.SubText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Slider.PlainText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Slider.PlainText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Slider.ButtonText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Slider.ButtonText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Slider.ButtonLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Slider.ButtonLink)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Slider.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
